<form [formGroup]="signinForm"  (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input
          matInput 
          placeholder="Nombre"
          formControlName="firstName"
          id="firstName">
    </mat-form-field>
    <mat-form-field>
        <input
          matInput 
          placeholder="Apellido"
          formControlName="lastName"
          id="lastName">
    </mat-form-field>
    <mat-form-field>
        <input
          matInput 
          placeholder="Correo electronico"
          formControlName="email"
          id="email">
    </mat-form-field>
    <mat-form-field>
        <input
          matInput
          placeholder="Contrasena"
          type = "password"
          formControlName="password"
          id="password">
    </mat-form-field>

        <button type="submit" mat-raised-button color="accent">
            Crear Usuario
        </button>        
   
    <p style="text-align: center">
            Tienes usuario ?
            <a mat-button color='prymary' [routerLink]="['/signin']" >Iniciar sesion</a>
         </p>
</form>