<mat-spinner *ngIf="loading"  ></mat-spinner>
<div *ngIf="!loading"> 
<mat-card>
 
        <div>
            <i mat-list-icon class="{{question.icon}} icon" ></i>
        </div>
        <mat-card-title>
            <h2>
                {{question.title}}
            </h2>
        </mat-card-title>
        <mat-card-subtitle>
            <small>Sacha Lizt - {{question.createdAt |amLocale:'es' | amTimeAgo }}</small>
        </mat-card-subtitle>
  
    <mat-card-content>
        {{question.description}}
    </mat-card-content>

</mat-card>

<div class="answers">
    <h3 id="title-scroll">
        Respuestas
    </h3>

    <ul class="answers-list" *ngIf="question.answer.length>0">
        <li *ngFor="let answer of question.answer">
            <h5>{{answer.user.firstName}} {{answer.user.lastName}}
                <small>{{answer.createdAt | amLocale: 'es' | amTimeAgo}}</small>
            </h5>
            <p class='description'>{{answer.description}}</p>
        </li>

    </ul>

    <p *ngIf="question.answer.length==0">Se el primero en responder...</p>

    <app-answer-form class="answer-form"  [question]="question"></app-answer-form>

</div>

</div>






